@page "/"

@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Configuration

@inject BlazorWASM_CRUD_B2C.Web.Services.API API
@inject IModalService _modalService
@inject IConfiguration _config;

<AuthorizeView>
    <Authorized>
        <div class="row">
            <div class="col-lg-3 mx-auto">
                <h3 class="text-center">You Are Signed In</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 mx-auto">
                <input type="button" class="btn btn-primary w-100" value="Create Seed Customers" @onclick="SeedDB" />
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="row">
            <div class="col-lg-3 mx-auto">
                <a class="btn btn-lg btn-outline-success btn-home mt-5 w-100" href="authentication/login">Log in</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 mx-auto">
                <a class="btn btn-lg btn-outline-primary btn-home mt-5 w-100" href="authentication/register">Register</a>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
<div class="row mt-5">
    <div class="col-lg-4 offset-md-4">
        <p class="app-desc text-center">
            For documentation, see the Readme at GitHub.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 mx-auto">
        <a class="btn btn-lg btn-outline-primary w-100" href="https://github.com/dahln/BlazorWASM_CRUD_B2C" target="_blank">Go to Github</a>
    </div>
</div>
<div class="row">
    <h5>API: @(_config.GetValue<string>("API_URL"))</h5>
    <h5>API: @(_config.GetValue<string>("SCOPE"))</h5>
    <h5>AzureAdB2c.Authority: @(_config.GetSection("AzureAdB2C").GetValue<string>("Authority"))</h5>
    <h5>AzureAdB2c.ClientId: @(_config.GetSection("AzureAdB2C").GetValue<string>("ClientId"))</h5>
    <h5>AzureAdB2c.ValidateAuthority: @(_config.GetSection("AzureAdB2C").GetValue<string>("ValidateAuthority"))</h5>
    <h5>AzureAdB2c.ValidateAuthority_Boolean: @(_config.GetSection("AzureAdB2C").GetValue<bool>("ValidateAuthority"))</h5>
</div>
<div class="row mt-5">
    <div class="col-lg-3 mx-auto">
        <p class="text-center">
            <a href="https://github.com/dahln/BlazorWASM_CRUD_B2C/LICENSE" target="_blank">License &amp; Terms</a>
        </p>
    </div>
</div>

@code {

    public async override Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    private async Task SeedDB()
    {
        await API.SeedDB(100);
    }
}

